
//Import External CSS
@use "vendor/normalize";
//@use "partials/colors";
@use "partials/animate";
@use "partials/fonts";
@use "partials/page_styles";
@use "partials/portfolio";
@use "partials/youtube-design";
@use "partials/graphic-design";
@use "partials/photography";

// Color Theme Variables
:root, html[data-theme='light'] {
    --background-color: rgb(255, 253, 250);
    --text-color: rgb(90, 85, 82);
}
html[data-theme='dark'] {
    --background-color: rgb(44, 45, 48);
    --text-color: rgb(253, 254, 255);
}
//Color Variables Applied
body {
    background: var(--background-color);
    color: var(--text-color);
}

::selection {
  background-color: #ffd375; /* Highlight background color */
  color: #000000a8;            /* Highlight text color */
}

/* Optional: for Firefox */
::-moz-selection {
  background-color: #ffd375;
  color: #000000a8; 
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: 0.5s;
    border-bottom: 0.1rem solid transparent;
}
a:hover {
    border-bottom: 0.1rem solid var(--text-color);
}
header{
    background-color: rgb(from var(--background-color) r g b / 0.8);
    height: 5rem;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
    backdrop-filter: blur(0.5rem);
    border-bottom: 1px solid rgb(from var(--text-color) r g b / 0.0);
}
